.page {
    overflow: hidden;
    background-color: #fff;
}



/*.navbar {
	position: relative;
    padding: 17px 20px;
    margin-top: 24px;
    background: #1c1c1c;
    border-radius: 0;
}

.navbar-inner {
	z-index: 2;
    padding: 0;
    background: #fff;
}*/